body {
	width: 60%;
	border: 20px solid #bdc3c7;
	margin: 15px auto;
	font-family: 'Source Sans Pro', sans-serif;
}
h2 {
	color: #2c3e50;
	font-weight: 700;
}
hr{
   	border: 0;
   	height: 0;
   	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	margin-top: 15px;	
}
.article {
	padding: 0 15px 0 15px;
}
.date {
	color: #3498db;
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 2px;
}
.first {
	border-left: 5px solid #bdc3c7;
	padding-left: 5px;

}